$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

a, a:hover, a:focus {
  text-decoration:none;
  background-color:none;
  color:#fff;
}

.container {
  min-width:1140px;
}
 

// nav
nav.navbar {
  background-color:#000;
  border-radius:0;
  margin:0;
  // min-height:80px;
  text-align:center;
  ul {
    float:none;
  }

  li {
    display:inline-block;
    float:none;
    a {
      color:#fff;
      font-size:18px;
      // line-height:40px;
      margin:2rem 2rem;
      padding:0.25rem 0.5rem;
    }

    a.logo {
      margin:1.5rem 2rem;
    }

    a:hover {
      background-color:#000;
    }

    a.login-btn {
      padding-left: 2rem;
      font-size: 16px;
      border-radius: 5px;
      margin-left:4rem;
      background-color: #f44848;

      .login-icon {
        height: 17px;
        width: 17px;
        position: absolute;
        margin-left: -20px;
        margin-top: 1px;
        background-image: url("../images/icon_login.png");
        background-size: cover;
      }
    }
  }
}



section {
  background-color: #fff;
}

section.banner {
  height:620px;
  text-align:center;
  background-color:transparent;

  .banner__title {
    margin: 250px auto;
    height: 300px;
    top: 50%;
    display: inline-block;
    color:#fff;
    font-size:24px;

    h2 {
      font-size:5.8rem;
    }

    p {
      font-size:2rem;
    }
    
    .button {
      display:inline-block;
      margin-top:40px;
      border-radius:2rem;
      font-size:2rem;
    }
  }

  .banner__background {
    width:100%;
    z-index: -1;
    position: absolute;
    video {
      position: relative;
      width:100%;
    }
  }
}

a.button {
  color:#fff;
  border:2px solid #fff;
  padding:0.5rem 2rem;
  background:rgba(255, 255, 255, 0.3);
  transition:background 1s;
}

a.button:hover {
   background:rgba(255, 255, 255, 0.7);
   text-decoration:none;
}

@keyframs (bgFadeIn) {
  background:rgba(255, 255, 255, 0.7);
}


section.learn-way {
  background:url(../images/) cover 0 0;
}